@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(./images/bg-tablet-pattern.svg) no-repeat;
  background-size: 800px;
  background-size: 90% -25%;
}

#cta { background: url(./images/bg-simplify-section-desktop.svg) no-repeat; }

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  transition: all 0.25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle { transform: translateY(7px); }

.hamburger-bottom { transform: translateY(14px); }

.open { transform: rotate(90deg) translateY(0px); }

.open .hamburger-top { transform: rotate(45deg) translateY(6px) translate(6px); }

.open .hamburger-middle { display: none; }

.open .hamburger-bottom { transform: rotate(-45deg) translateY(6px) translate(-6px); }


@media (max-width: 576px) {
  body {
    background: url(./images/bg-tablet-pattern.svg) no-repeat;
    background-size: 500px;
    background-size: 50px -50px;
  }

  #cta { background: url(./images/bg-simplify-section-mobile.svg) no-repeat; }
}